body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    width: 600px;
    margin: auto;
}

h1{
    color: #C0C0C0;
    font-size: 150px;
    writing-mode: vertical-rl;
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
}

footer{
    text-align: center;
    writing-mode: vertical-rl;
    width: 600px;
    background-color: #D3D3D3;
}

.goroku{
    color: #FFFFFF;
    font-size: 150px;
    writing-mode: vertical-rl;
    font-family: 'HGPｺﾞｼｯｸE';
    letter-spacing: 0.1em;
}


.obibunn1{
    font-family: 'HGPｺﾞｼｯｸE';
    line-height: 2em;
}
.obibunn2{
    font-size: 30px;
    font-weight: bold;
}
img{
    width: 600px;
    height: auto;
}

.obibunn3{
    font-size: 16px;
    font-family: 'HGSｺﾞｼｯｸM';
    line-height: 1.5em;
}

.syasinn{
    text-align: center;
    position: relative;
}
